<!--! home section start  -->
<div>
  <section class="anasayfa">
    <div class="bg-shape"></div>

    <div class="content">
      <div class="title-area">
        <div class="image">
          <img src="../assets/Images/bookpixnew.png" alt="logo" class="profile-img" />
        </div>
        <div>
          <h4>
            <span style="color: rgb(152, 236, 208)">W</span
            ><span style="color: rgb(255, 255, 255)">hat </span>
            <span style="color: rgb(255, 244, 183)">S</span
            ><span style="color: rgb(255, 255, 255)">hould </span>
            <span style="color: rgb(177, 222, 224)">I </span>
            <span style="color: rgb(255, 203, 229)">R</span
            ><span style="color: rgb(255, 255, 255)">ead?</span>
          </h4>
        </div>
      </div>
    </div>

    <div class="card-area">
      <div class="card">
        <div class="contenttext">
          <h1>Testi Tamamla</h1>
          <br />
          <p>Kendin ol, testleri dürüst bir şekilde yanıtla!</p>
        </div>
      </div>

      <div class="card">
        <div class="contenttext">
          <h1>Kişilik Tipini Öğren</h1>
          <br />
          <p>Kişilik tipini ve özelliklerini öğren!</p>
        </div>
      </div>

      <div class="card">
        <div class="contenttext">
          <h1>Sana Uygun Kitapları Gör</h1>
          <br />
          <p>Yapay zeka kişilik tipine uygun kitapları sana önersin!</p>
        </div>
      </div>
  </div>
  </section>
  <div class="start-test-area">
    <div class="start-test">
      <button class="btn" (click)="confirmDialog()">
        Teste Başla
      </button>
    </div>
  </div>
  <!--! home section end  -->
  
</div> 
