.agg{
    color: #AFEED1
}
.cons{
    color:#F2D8AC
}
.neu{
    color: #EEC6DA
}
.ext{
    color: #ACDEE0;
}
.ope{
    color:#5f2d6e
}
.big5-explaination{
    width: 80%;
}
.big5-explaination-area{
    justify-content: center;
    display: flex;
}
.big5-text{
    color: gray;
    font-size: 16px;
}
