body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2em;
    text-align: center;
}
form {
    margin: 0 auto;
    max-width: 900px;
    padding: 1em;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
legend {
    font-size: 1.2em;
    font-weight: bold;
}
label {
    display: inline;
    margin: 1em;
}
input[type="radio"] {
    margin-right: 0.5em;
}
.submitTest {
    background-color: #A59DD1;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 5px;
}
.submitTestArea{
    justify-content: end;
    display: flex;
}
button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.next-page button, .previous-page button {
    background-color: #8c85b1;
}
.icon{
    color:white
}
input[type="radio"] {
-webkit-appearance: none; /* Remove the default appearance */
-moz-appearance: none;
appearance: none;
border-radius: 50%; /* Make the button circular */
width: 16px;
height: 16px;
border: 2px solid #ccc; /* Set the border color */
outline: none; /* Remove the outline on focus */
transition: border-color 0.3s ease-in-out;
}
input[type="radio"]:checked {
background-color: pink; /* Set the border color */
}
.progressBarArea{
    margin: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.progressBarTextArea{
    background-color: #A59DD1;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin:5px;
}
.progressBarText{
    display: contents;
    color:white
}
.kisiliktest{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}
.top{
    height: 75px;
    color: #fff;
    background-color: #AD92B9;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
}
.title{
    display: flex;
    justify-content: center;
}
.quiz-question-area{
    display: flex;
    justify-content: center;
    min-width: 400px;
    margin: 50px;
}
.form-field{
    margin:50px
}
.form{
    justify-content: center;
    align-items: center;
    display: flex;
}
.next-page{
    float: right;
}
.next-page i, .previous-page i{
    cursor: pointer;
    margin: 20px;
}
.quiz-question{
    width: 80%;
}
@media only screen and (max-width: 768px) {
    .form{
        display: block;
    }
    .form-field{
        width: 70%;
    }
    .quiz-question{
        width: 100%;
    }
  }