<!-- kişilik tipleri section start-->

<section class="kişiliktipleri" id="kişiliktipleri">
  <div class="max-width">
    <h1 class="kişiliktiplerititle">Kişilik Tipleri</h1>
    <div class="kişiliktipleri-content">
      <div class="kişiliktipi-area">
        <div class="column left">
          <img src="../assets/Images/açıklıkpix.png" alt="açıklık" />
        </div>
        <div class="column right">
          <div class="kişiliktipleritext"></div>
          <h2>
            <b><span style="color: #0a8642">AÇIKLIK</span></b>
          </h2>
          <p>
            Duyguları, macerayı, sıra dışı fikirleri, hayal gücünü, merakı ve
            çeşitli deneyimleri genel olarak takdir anlamına gelmektedir. Bu
            özellik, yaratıcı insanları gerçekçi ve basmakalıp (sıradan)
            insanlardan ayırmaktadır. Deneyime açık olan insanlar, entelektüel
            olarak meraklı, sanatı takdir eden ve estetiğe duyarlı kişilerdir.
            Kapalı insanlara kıyasla, daha yaratıcı ve arzularının daha fazla
            ayırdında olan insanlardır. Alışılmadık inançlara bağlı olmaya daha
            fazla meyillidirler. Açıklıkta düşük puanlara sahip insanlar daha
            geleneksel, basmakalıp ilgilere sahip olmaya eğilimlidirler. Onlar,
            basit, doğrudan ve açık olanı; karmaşık, belirsiz ve incelikli olana
            tercih ederler. Sanatı ve bilimi şüpjeyle karşılayabilirler, bu
            çabaları anlaşılması zor, derin ve pratik kullanımdan uzak
            bulabilirler. Kapalı insanlar aşina oldukları şeyleri yeni yollara
            karşı tercih ederler. Değişime karşı tutucu ve dirençlidirler.
          </p>
        </div>
      </div>

      <div class="kişiliktipi-area">
        <div class="column left">
          <img src="../assets/Images/dışadönüklükpix.png" alt="dışadönüklük" />
        </div>

        <div class="column right">
          <div class="kişiliktipleritext"></div>
          <h2>
            <b><span style="color: rgb(199, 164, 10)">DIŞA DÖNÜKLÜK</span></b>
          </h2>
          <p>
            Olumlu duygular, diğerlerinin teşvik ve ortaklıklarını arama eğilimi
            olarak tanımlanır. Bu özellik dış dünyayla açık bir etkileşim ile
            kendini gösterir. Dışadönükler insanlarla olmaktan eğlenirler,
            genellikle enerji dolu olarak tanımlanırlar. Heyecan olanaklarına
            karşılık "Evet!" ya da "Hadi gidelim!" diyebilecek olan; coşkulu,
            hareket-odaklı bireyler olma eğilimindedirler. Grup içinde,
            konuşmayı severler, kendilerini öne çıkarırlar ve ilgi çekerler.
            İçedönükler laf kalabalığı, enerji ve dışadönüklerin eylem
            seviyesinden uzaktırlar. Sessiz, şatafatsız, ağır ve sosyal dünyayla
            daha az ilgili olma eğilimindedirler. Sosyal katılımlarının az
            olması utangaçlık veya bunalım olarak yorumlanmamalıdır.
            İçedönükler, sadece, dışadönüklerden daha az dürtüye ve daha fazla
            yalnız zamana ihtiyaç duyarlar.
          </p>
        </div>
      </div>

      <div class="kişiliktipi-area">
        <div class="column left">
          <img src="../assets/Images/nörotizmpix.png" alt="nörotizm" />
        </div>

        <div class="column right">
          <div class="kişiliktipleritext"></div>
          <h2>
            <b><span style="color: #0a8642">NÖROTİZM</span></b>
          </h2>
          <p>
            Öfke, endişe, bunalım gibi olumsuz duyguları yaşamaya eğilim olarak
            tanımlanır. Duygusal dengesizlik olarak da adlandırılır. Duygusal
            dengede yüksek puan alanlar duygusal olarak duyarlı ve strese
            eğilimlidirler. Olağan durumları tehdit edici ve ufak hayal
            kırıklıklarını umutsuzca zor olarak nitelemeye daha eğilimlidirler.
            Onların olumsuz duygusal tepkileri olağandışı şekilde uzun sürer, bu
            da genellikle kötü bir ruh halinde oldukları anlamına gelir.
            Duygusal dengedeki bu sorunlar bu bireylerin açık düşünmesini,
            kararlar vermesini ve streste etkili bir şekilde baş etmesini
            engelleyebilir. Ölçeğin diğer tarafında, duygusal denge puanı az
            olan bireyler daha zor üzülür ve duygusal olarak daha az
            tepkilidirler. Sakin, duygusal olarak dengeli ve kalıcı olumsuz
            histen uzak olma eğilimi gösterirler. Olumsuz hislerden uzak
            olmaları, daha çok olumlu hisleri tecrübe edecekleri anlamına
            gelmez. Olumlu hislerin sıklığı, dışadönüklük boyutunun bir
            bileşenidir.
          </p>
        </div>
      </div>

      <div class="kişiliktipi-area">
        <div class="column left">
          <img src="../assets/Images/uyumlulukpix.png" alt="uyumluluk" />
        </div>

        <div class="column right">
          <div class="kişiliktipleritext"></div>
          <h2>
            <b><span style="color: rgb(6, 194, 194)">UYUMLULUK</span></b>
          </h2>
          <p>
            Başkalarına karşı kuşkulu ve zıt (antagonistik) olmaktan ziyade
            merhametli ve yardıma hazır olmaya eğilimli olmak olarak tanımlanır.
            Bu özellik, sosyal denge üzerine ilgiyi ve kaygıyı yansıtır. Uyumlu
            bireyler diğerleriyle kolay geçinir. Genel olarak saygılı,
            arkadaşça, cömert, yardımsever ve diğerlerinin istekleriyle
            uzlaşmaya hazır olarak görülürler. Uyumlu bireyler insan doğası
            hakkında iyimser bir görüşe sahiptirler. Onlar, insanların dürüst,
            saygın ve güvenilir olduğuna inanırlar. Uyumsuz bireyler kendi
            çıkarlarını diğerleriyle geçinmekten üstün tutarlar. Diğerlerinin
            iyi olmasıyla genellikle daha az ilgilidirler ve diğerlerine daha az
            yardım eli uzatırlar. Bazen diğerleri hakkındaki şüphecilikleri
            onların kuşkucu, dostça olmayan ve geçimsiz olmalarına neden olur.
          </p>
        </div>
      </div>

      <div class="kişiliktipi-area">
        <div class="column left">
          <img src="../assets/Images/sorumlulukpix.png" alt="sorumluluk" />
        </div>

        <div class="column right">
          <div class="kişiliktipleritext"></div>
          <h2>
            <b><span style="color: rgb(6, 194, 194)">SORUMLULUK</span></b>
          </h2>
          <p>
            Öz-disiplin gösterme eğilimi, görev bilinciyle hareket etme ve
            başarı için azim gösterme demektir. Bu özellik, kendiliğinden
            gerçekleşene karşılık planlı hareketi tercih etmeyi gösterir.
            Dürtülerimizi yönlendirme, düzenleme ve kontrol etme eğilimimizi
            belli eder. Sorumluluk Başarıya İhtiyaç Duyma (İngilizce Need for
            Achievement olarak bilinen ve kısaltması NAch olan) etmenini içerir.
            Yüksek sorumluluğun faydaları açıktır. Sorumluluk sahibi bireyler
            kasıtlı planlama yaparak ve bunda süreklilik göstererek yüksek
            başarı düzeyine ulaşırlar ve sorunlardan kaçarlar. Diğerleri
            tarafından güvenilir ve zeki olarak adlandırılırlar. Diğer taraftan,
            zorlayıcı mükemmeliyetçiler ve işkolikler olabilirler.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--kişilik tipleri section end-->

<!--test section start-->
<section class="kişiliktest" id="kişiliktest">
  <!--teste başla butonu-->
  <!--<div class="start_btn"><button>Teste Başla</button></div>-->

  <!--info box-->
  <div class="info_box">
    <div class="info_title">
      <span>Bilgilendirme</span>
    </div>
    <div class="info_list">
      <div class="info">
        1. Soruların <span>her birini cevaplandırınız.</span>
      </div>
      <div class="info">2. Bu testte doğru veya yanlış cevap yoktur.</div>
      <div class="info">
        3. Sizi en doğru şekilde tanımladığını düşündüğünüz yanıtı seçiniz.
      </div>
      <div class="info">
        4. Olmak istediğiniz gibi değil, gerçekte olduğunuz gibi cevap veriniz.
      </div>
      <div class="info">
        5. Kararsızım seçeneğini çok sık kullanmamaya dikkat ediniz.
      </div>
    </div>
    <div class="buttons">
      <button class="quit">Çıkış</button>
      <button class="restart">Devam</button>
    </div>
  </div>
  <!--info box end -->
  <!--kişisel bilgiler box -->

  <div class="kişiselbilgiler_box">
    <header>
      <div class="kişiselbilgititle">KİŞİSEL BİLGİLER</div>
    </header>

    <section>
      <!--  <div class="que_text">
              <span>What does HTML stand for?</span>
             </div>  -->
      <div class="başlıklar">
        <h3>Adınız</h3>
        <h3 class="yaş">Yaşınız</h3>
      </div>

      <div class="isim">
        <input type="text" required />
      </div>

      <div class="select-menu">
        <div class="select-btn">
          <span class="sBtn-text">Yaş grubu seçiniz</span>
          <i class="fa-solid fa-chevron-down"></i>
        </div>

        <ul class="options">
          <li class="option">
            <span class="option-text">Çocuk 7-12</span>
          </li>

          <li class="option">
            <span class="option-text">Genç 13-17</span>
          </li>

          <li class="option">
            <span class="option-text">Genç Yetişkin 18-26</span>
          </li>

          <li class="option">
            <span class="option-text">Yetişkin 27+</span>
          </li>
        </ul>
      </div>
    </section>

    <!--kişisel bilgiler box footer -->
    <footer>
      <a href="#"> <i class="fa-solid fa-circle-chevron-right fa-2xl"></i></a>
    </footer>
  </div>
  <!--kişisel bilgiler box end -->
</section>
<!--test section end-->
